In [14]:
import pandas as pd 
import numpy as np

In [15]:
data = pd.read_csv('houses.csv')
data

    house_price  number_bedrooms  number_bathrooms
0        250000                3                 2
1        320000                4                 3
2        280000                3                 2
3        350000                4                 3
4        290000                3                 2
5        400000                5                 4
6        310000                3                 2
7        380000                4                 3
8        260000                3                 2
9        330000                4                 3
10       270000                3                 2
11       360000                4                 3
12       300000                3                 2
13       410000                5                 4
14       320000                4                 3
15       390000                4                 3
16       250000                3                 2
17       320000                4                 3
18       280000                3                 2
19       350000                4                 3
20       290000                3                 2
21       400000                5                 4
22       310000                3                 2
23       380000                4                 3
24       260000                3                 2
25       330000                4                 3
26       270000                3                 2
27       360000                4                 3
28       300000                3                 2
29       410000                5                 4
30       320000                4                 3
31       390000                4                 3

In [16]:
data.corr()

                  house_price  number_bedrooms  number_bathrooms
house_price          1.000000         0.893849          0.893849
number_bedrooms      0.893849         1.000000          1.000000
number_bathrooms     0.893849         1.000000          1.000000

In [17]:

y = np.array(data.iloc[:,0])
X = np.array(data.iloc[:,-2:])

y_train = np.array(data.iloc[:int(len(data)*0.8),0])
X_train = np.array(data.iloc[:int(len(data)*0.8),-2:])

y_test = np.array(data.iloc[int(len(data) * 0.8):, 0])
X_test = np.array(data.iloc[int(len(data) * 0.8):, -2:])

In [18]:
class MultipleLinearRegression:
    def __init__(self,lr=0.01):
        self.lr = lr
        self.weights = None
        self.bias = 0
        
    def Z(self,X_train):
        return np.dot(X_train,self.weights)+self.bias
    
    def cost_fucntion(self,X_train,y):
        mse = 0
        m = X_train.shape[0]
        for i in range(m):
            pred = self.Z(X_train)
            error = y[i] - pred 
            mse += error**2
        return mse / m
    
    def gradient(self,X_train,y):
        m,n = X_train.shape
        pred = self.Z(X_train)
        error = y-pred
        dW = -(2/m) * np.dot(X_train.T, error)
        dB = -(2/m) * np.sum(error)
        return dW, dB
    
    def fit(self, X_train, y, epochs=100):
        self.weights = np.zeros(X_train.shape[1]) * 0.01
        for _ in range(epochs):
            dW, dB = self.gradient(X_train, y)
            self.weights -= self.lr * dW
            self.bias -= self.lr * dB
            
    def predict(self, X_test):
        return self.Z(X_test)

In [19]:
model = MultipleLinearRegression(lr=0.01)
model.fit(X_train, y_train,1000)
print(y_test)
np.round(model.predict([X_test]))

[330000 270000 360000 300000 410000 320000 390000]

array([[347538., 274500., 347538., 274500., 420576., 347538., 347538.]])